* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif ;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  margin-top: auto;
  background-color: rgb(7, 33, 57);
  color: white;
}
footer a{
  display: flex;
  justify-content: center;
  align-items: flex-end first baseline;
  color: white;
  text-decoration: none;
}