.apropos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    color: rgb(7, 33, 57);
}

.apropos div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.apropos div p {
    font-weight: 100;
    line-height: 1.5rem;
}

.profileImage {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Tablette */
@media screen and (min-width: 43rem) {
    .apropos .contentApropos{ flex-direction: row; }
    .apropos .contentApropos div{ width: 90%; }
    .apropos div p { font-size: 1.1rem; }
    .profileImage {
        width: 100%;
        height: 100%;
    }
}
