.formulaire {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}
.formulaire input,
.formulaire textarea {
    padding: 0.7rem;    
    border-radius: 5px;
    font-weight: 100;
    font-size: small;
    background-color: rgb(245, 245, 245);
}   
.formulaire input[type="text"],
.formulaire input[type="email"] {
    border: none;
    outline: none;
}
.formulaire textarea {
    border: none;
    outline: none;
    resize: vertical;
    min-height: 100px;
}
.formulaire button {
    width: 100px;
    padding: 0.5rem;
    border: none;       
    outline: none;
    cursor: pointer;
    border: 1px solid rgb(245, 245, 245);
    border-radius: 5px;
    background-color: rgb(7, 33, 57);
    color: rgb(245, 245, 245);
    font-weight: bolder;
    transition: 0.3s ease-out;          
}
.formulaire button:hover { opacity: 0.6; }

.messageErreur {
    font-size: small;
    font-weight: 100;
    color: rgb(248, 181, 181);
    animation: fadeEffect 1s forwards;
}
.envoieReussi {
    font-size: small;
    font-weight: 100;
    color: rgb(195, 244, 195);
    animation: fadeEffect 0.3s forwards;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}