.menuIcon { transition: 0.3s ease-out; }
.menuIcon:hover { opacity: 0.8; }
.nav {
    position: fixed;
    width: 80%;
    height: 100vh;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgb(245, 245, 245);
}
.openMenu {
    transform: translateX(0rem);
    transition: transform 0.5s ease-in-out ;
}
.closeMenu {
    transform: translateX(100rem);
    transition: transform 0.5s ease-in ;
}
.nav ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    margin-top: 4rem;
    list-style: none;
}
.nav ul li { padding-left: 1rem; }
.nav ul li a {
    width: 100%;
    text-decoration: none;
    color: rgb(7, 33, 57);
    font-weight: bold;
    font-size: 1rem;
    transition: 0.3s ease-out;
}
.nav ul li a:hover { opacity: 0.5; }   
.active {
    opacity: 0.5;
    border: 1px solid white;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
}  

.nav ul hr {
    color: rgba(53, 60, 66, 0.156);
    font-weight: lighter;
}

@media screen and (min-width: 43rem) {
    .menuIcon, .menuIconX, .nav ul hr  {
        display: none;
    }
    .nav {
        position: absolute;
        display: flex;
        width: 45%;
        padding: 0;
        padding-top: 1rem;
        height: 1rem;
        transform: translateX(0rem);
        background-color: rgb(7, 33, 57);
    }
    .nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 0rem;
        gap: 0rem;
    }
    .nav ul li { padding-left: 0; }
    .nav ul li a{
        color: white;
        font-size: 1rem;
    }
}