.projet {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    margin-top: 3rem;
}

.projetBloc {
    background-color: white;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 1px 3px 10px 10px rgb(247, 249, 252);
}

.projetBloc p {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    color: rgb(7, 33, 57);
}

.projetBloc p i {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.projetBloc p i span {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0.7rem;
    background-color: rgb(245, 245, 245);
    font-weight: 100;
    font-size: small;
    border-radius: 5px;
}

.projetBloc p i span a {
    text-decoration: none;
    color: rgb(7, 33, 57);
    transition: 0.3s ease-in-out;

}

.projetBloc p i span a:hover {
    opacity: 0.3;
}

.demoFalse {
    pointer-events: none;
}

.voirPlus {
    display: inline-block;
    margin-top: 1rem;
    text-decoration: none;
    background-color: rgb(7, 33, 57);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-weight: 100;
    font-size: small;
    transition: 0.3s ease-out;
}

.voirPlus:hover {
    opacity: 0.8;
}

.competenceContact {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: rgb(7, 33, 57);
    color: white;
    margin-top: 3rem;
    padding: 2rem;
}

.competences {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
    margin-top: 1rem;
}

.competences span {
    background-color: rgb(245, 245, 245);
    color: rgb(7, 33, 57);
    padding: 0.5rem 0.7rem;
    border-radius: 7px;
    font-weight: 100;
    font-size: small;
}

.outils {
    margin-top: 2rem;
}

.formulaire {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.formulaire input,
.formulaire textarea {
    padding: 0.7rem;
    border-radius: 5px;
    font-weight: 100;
    font-size: small;
    background-color: rgb(245, 245, 245);
}

.formulaire input[type="text"],
.formulaire input[type="email"] {
    border: none;
    outline: none;
}

.formulaire textarea {
    border: none;
    outline: none;
    resize: vertical;
    min-height: 100px;
}

.formulaire button {
    width: 100px;
    padding: 0.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    border: 1px solid rgb(245, 245, 245);
    border-radius: 5px;
    background-color: rgb(7, 33, 57);
    color: rgb(245, 245, 245);
    font-weight: bolder;
    transition: 0.3s ease-out;
}

.formulaire button:hover {
    opacity: 0.6;
}

/* Tablette */
@media screen and (min-width: 43rem) {
    .projet {
        padding-left: 6rem;
        padding-right: 6rem;
    }
    .projetBloc { margin-top: 0; }

    .projetContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        margin-top: 1rem;
    }
    .competenceContact div { width: 100%; }

    .competenceContact div:first-child {
        display: flex;
        flex-wrap: wrap;
        align-self: start;
        justify-content: space-between;
    }
}

/* Desktop */
@media screen and (min-width: 64rem) {

    .projet {
        padding-left: 10rem;
        padding-right: 10rem;
        
    }
    .projetBloc { margin-top: 0; }

    .projetContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        margin-top: 1rem;
    }


}